<% content_for :title, "All Posts"  %>

<div class="container-fluid">
  <% @posts.each do |post| %>
    <hr>
    <div class="row-fluid">
      <div class="media">
        <%= content_tag :div, class: "pull-left text-center" do  %>
          <% if current_user %>
            <%= link_to 'upvote', upvote_post_path(post), class: "label label-info" %>
            <h4>[<%= post.score %>]</h4>
            <%= link_to 'downvote', downvote_post_path(post), class: "label label-important" %>
          <% else %>
            <h4>[<%= post.score %>]</h4>
          <% end %>
        <% end %>
        <%= link_to post, class: "pull-left" do %>
          <div class="text-center">
            <% if post.images_count > 0 %>
              <%= image_tag post.images.first.url_size(120) , class: 'media-object img-rounded' %>
            <% end %>
          </div>
        <% end %>
        <div class="media-body">

<!--      Allow link direct:    <h4 class="media-heading"><%= link_to post.title, post %></h4> Original-->
          <h4 class="media-heading"><%= link_to post.title, post.body %> (<%= link_to "+", post %>)</h4>
          <p>
<!--      Disable Broken Users      by: <%= link_to "#{post.user.username} (#{0})", user_path(post.user) %> Original-->
          by: <%= "#{post.user.username} (#{0})" %> 
            | <span class="label label-info">views: <%= post.view_count %></span>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
